.SideMenu {
    position: relative;
    width: 12%;
    height: 90%;
    left: 10px;
    top: 10px;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    background: linear-gradient(174.61deg, #141d26 4.16%, #1a2633 48%, #151515 96.76%);
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    transition: 1s;

}

.SideMenu .logo{
    font-family: 'Banaus 93';
    position: relative;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 15px;
    color: #ffff;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.SideMenu .nav li {
    position: relative;
    padding-top: 10px;
    align-content: center;
    right: 50px;
    align-items: center;
    align-self: center;
    top: 50%;
    list-style: none;
}

.SideMenu .nav li a {
    position: relative;
    text-decoration: none;
   
    color: #ffff;
    font-size: 1.2em;
    padding-top: 10px;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    gap: 25px;
    transition: 0.5s;
    border-radius: 20px;
    padding: 0 0;
    width: 100%;
    transition: 0.5s;
}

.SideMenu .nav li a:hover,
.SideMenu .nav li a.active{
  color: rgb(252, 144, 4);
}

.SideMenu .social {
    position: absolute;
    bottom: 50px;
    left: 10px;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    transition: 0.5s;
}

.SideMenu .social li a {
    text-decoration: none;
    color: #ffff;
    font-size: 1.5rem;
    transition: 0.3s;
   
}


.SideMenu .social li a:hover{
    color: rgb(252, 144, 4);
}


.SideMenu.active{
    width: 2%;
    transition: 1s;
    overflow: hidden;
    align-items: center;

}

.SideMenu.active .brand,
.SideMenu.SideMenu.active .navName{
    display: none;
}

.SideMenu.active .nav li a {
    font-size: 1.8em;
}
.SideMenu.active .nav li  {
    right: 18px;
}

.SideMenu.active .social{
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 10px;
}